@page
@model MediiProgProiect.Pages.MasiniC.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalii</h1>

<div>
    <h4>Informatii despre masina:</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MasinaC.Marca)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MasinaC.Marca)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MasinaC.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MasinaC.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MasinaC.Pret)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MasinaC.Pret)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MasinaC.DataFabricarii)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MasinaC.DataFabricarii)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.MasinaC?.ID">Edit</a> |
    <a asp-page="./Index">Inapoi la lista</a>
</div>
